{% extends 'base.html' %}
{% block parts %}active{% endblock %}
{% block car_parts_list %}active{% endblock %}
{% block content %}
{% load static %}

<div class="content-wrapper">
    <section class="content-header">
        <ol class="breadcrumb">
            <li><a href="{% url 'common:japan_index' %}"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="{% url 'japan_inventory:add_car_parts' %}">Add Car Parts</a></li>
            <li class="active">Car Parts List</li>
        </ol>
    </section>
    <br>
    <section class="content">
        <div class="row">
            <div class="col-md-12 form-group">
                <div class="box">
                    <div class="row">
                        <h4 class="text-center"><b>Car Parts Stock In List</b></h4>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4 pull-left">
                                <input type="date" class="form-control name_search" placeholder="Search by Date ..." >
                            </div>
                            <div class="col-md-2 pull-right">
                                <button class="form-control btn btn-primary search">Search</button>
                            </div>
                            <br><br>
                            <hr>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="table-responsive">
                            <table class="table align-items-center table-striped table-bordered table-hover">
                                <thead class="thead-dark">
                                <tr>
                                    <th>S.No</th>
                                    <th>Part Name</th>
                                    <th>Amount</th>
                                    <th>Date</th>
                                    <th class="text-center">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for stock in object_list %}
                                <tr>
                                    {% load humanize %}
                                    <td>{{forloop.counter}}</td>
                                    <td>{{stock.description|title}}</td>
                                    <td>{{stock.amount|floatformat:-2|intcomma}}</td>
                                    <td>{{stock.date|date:"d M Y"}}</td>

                                    <td class="text-center">
                                        <a href="{% url 'japan_inventory:delete_car_parts' pk=stock.id %}" onclick="return confirm('&#9940 Are you sure you want to delete this item &#9940;')"><button class="btn btn-danger btn-xs">Delete</button></a>
<!--                                        <a href=""><button class="btn btn-warning btn-xs">StockOut</button></a>-->

                                    </td>
                                </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                            {% if paginator.page_range|length > 1 %}
                            <div class="text-center col-lg-12">
                                <ul class="pagination justify-content-center">
                                <span class="step-links">
                                    {% if page_obj.has_previous %}
                                        <a href="?page=1">First</a>
                                        <a href="?page={{ page_obj.previous_page_number }}" title="Previous"><<</a>
                                    {% endif %}
                                    {% if page_obj.has_next %}
                                        <a href="?page={{ page_obj.next_page_number }}" title="Next">>></a>
                                        <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                                    {% endif %}
                                </span>
                                 </ul>
                            <div>
                            <span class="current">
                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                            </span>
                            </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}

{% block script %}
    {{ block.super }}
<script>
$(function () {
    $('.search').on('click', function () {
        var url = '{% url "japan_inventory:list_car_parts" %}';
        window.location.href  = url + '?' + 'date=' + $('.name_search').val();
    });
})
</script>
<style>
  .pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;

}
.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: rgb(106, 142, 174);}
</style>
{% endblock %}